.navbar-brand img {
	width: 30px;
	height: 30px;
}

.nav-link {
	color: white;
}

li {
    list-style-type: none;
}

h1 {
	font-family: Monaco;
	display: flex;
	width: 100%;
	justify-content: center;
	text-align: center;
	color: #C9D4FF;
}

h2 {
	font-family: Monaco;
	color: white;
	background-color: #BFBDBE;
}

.first-div {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	background-color: #8C7D77;
	color: white;

}

.first-div img{
	width: 50%;

}

.cards {
  padding: 15px 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: #BFBDBE;
}

.card-element {
  width: 30%;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



